input[type="submit"][name="yt0"]{
    color: transparent !important;
    position: relative;
}

input[type="submit"][name="yt0"]::after{
    content: "Chci být mezi prvními";
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
